/* ======== Mobile Design ========= */
/* -------------------------------- */

body {
  background-image: url("images/background.jpeg");
  font-family: 'Star Jedi', arial;
}

h1 {
  color: white;
  font-family: 'Star Jedi', arial;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}

h2 {
  color: white;
  font-family: 'Star Jedi', arial;
}

li {
  color: white;
  font-family: 'Star Jedi', arial;
}

/* CHARACTER SECTION */

.characters {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
  margin: auto;
  border: 50px;
  height: 480px;
  width: 320px;
}
.characters img {
  height: 200px;
  width: 200px;
  padding: 50px;
  border: 3px solid white;
}

input[type=button] {
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 15px;
  border: 1px solid white;
  text-shadow: 4px 4px 4px #aaa;
  border-radius: 20%;
  font-family: 'Star Jedi', arial;
  align: center;
}

/* CAROUSEL SECTION */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid white;
  padding: 100px;
}

.carousel-container {
  display: flex;
  flex-direction: row;
  border: 5px solid white;
}
button {
  background-color: white;
  font-size: 15px;
  padding: 16px;
  border-radius: 50%;
  border: 2px solid black;
  float: left;
}

button:hover {
  background-color: red;
}

.carousel-images img {
  width: 100%;
  border-radius: 10px;
  display: none;
}

.carousel-images img:first-of-type {
  display: block;
}

/* ======= Desktop Design ======== */
/* -------------------------------- */
@media (min-width: 600px) {
  body {
    background-image: url("images/background2.jpg")
  }

  form {
    display: flex;
    margin-left: 800px;
    display: flex;
  }

  /* characters  */
  .characters {
    margin: auto;
    padding: 0'
    display: flex;
    flex-direction: row;
    /* flex-direction: row;
    flex-wrap: wrap; */
    justify-content: space-around;
  }

  .characters img {
    height: 150px;
    width: 200px;
    padding: 5px;
    margin-top: 10px;
    border: 3px solid white;
    /* margin: auto; */
  }

}
